<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Admin Panel{% endblock %}</title>


        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.theme.min.css') }}" rel="stylesheet">

        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bower_components/bootstrap/dist/bootstrap.js') }}"></script>
        
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Custom CSS -->
        <link href="{{ asset('blog-master/css/blog-home.css') }}" rel="stylesheet">

    </head>
    <body>

        <div class="container">
            {{ include('backend/navbar.html.twig') }}
            {% block content %}{% endblock %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}

    </body>
</html>
