{% extends '::frontbase.html.twig' %}

{% block content %}

    <div class="row">

        <h1>Search Result</h1>

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            {% for article in blogs %}
                <!-- First Blog Post -->
                <h2>
                    <a href="{{ path("frontend_blog_show",{ 'slug': article.slug }) }}">
                        {{ article.title }}
                    </a>
                </h2>
                <p><span class="glyphicon glyphicon-time"></span> Posted on
                    {{ article.createdAt | date("Y-m-d H:i") }}
                </p>
                <p>
                    {{ article.content }}
                </p>
                <a class="btn btn-primary" href="{{ path("frontend_blog_show",{ 'slug': article.slug }) }}">
                    Read More
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>

                <hr>
            {% endfor %}


        </div>
        {{ include('frontend/_common/sidebar.html.twig',{ 'categories': categories }) }}
    </div>
    <!-- /.row -->

{% endblock %}